# --- GitHub ---
GITHUB_PAT=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_REPO=sfc-gh-sgope/nipyapi_test
GITHUB_BRANCH=main
GITHUB_FLOWS_PATH=flows

# --- Snowflake ---
SNOWFLAKE_ACCOUNT=sfsenorthamerica-sgope_aws3
SNOWFLAKE_USER=sgope
SNOWFLAKE_PAT=ver:1:xxxxxxxxxxxxxxxxxxxxxxxxxxxx
SNOWFLAKE_ROLE=OPENFLOW_ADMIN

#ALTER USER sgope ADD PROGRAMMATIC ACCESS TOKEN NIFI_OPENFLOW_PAT
#  ROLE_RESTRICTION = OPENFLOW_ADMIN
#  DAYS_TO_EXPIRY = 365
#  COMMENT = 'PAT for OpenFlow deploy with OPENFLOW_ADMIN role';

# --- OpenFlow Runtime ---
OPENFLOW_DATABASE=OPENFLOW
OPENFLOW_SCHEMA=OPENFLOW
OPENFLOW_RUNTIME=POSTGRES_DEMO

# --- Private Link (optional) ---
# Set to true if your account uses AWS PrivateLink / Azure Private Link
# This changes the runtime domain from snowflakecomputing.app to privatelink.snowflakecomputing.app
# USE_PRIVATELINK=true