# --- GitHub ---
GITHUB_PAT=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_REPO=sfc-gh-sgope/nifihub
GITHUB_BRANCH=feature/add-snowflake-to-postgres-flow
GITHUB_FLOWS_PATH=flows

# --- OpenFlow Runtime ---
SNOWFLAKE_RUNTIME_URL=https://of1--<your-account>.snowflakecomputing.app/<your-runtime-key>
SNOWFLAKE_RUNTIME_PAT=<your-snowflake-programmatic-access-token>